In [36]:
import gc
from tqdm.notebook import tqdm

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, FunctionTransformer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer 

import keras
from keras.models import Model
from keras.utils.vis_utils import model_to_dot
from keras.layers import Input, Dense, Dropout, BatchNormalization
import tensorflow as tf

## Data loading

In [37]:
folder_path = '/Users/pawelurbanowicz/master-thesis/data/'

train_identity = pd.read_csv(f'{folder_path}train_identity.csv')
train_transaction = pd.read_csv(f'{folder_path}train_transaction.csv')

# train = pd.merge(train_transaction, train_identity, on='TransactionID', how='left')
train = train_transaction

## Data exploration

In [38]:
print('train: ', train.shape)

train:  (590540, 394)

In [39]:
train_transaction.head(3)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
train_identity.head(3)

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows

In [41]:
del train_identity, train_transaction

## Feature enginnering

In [42]:
# train['TransactionAmt_to_mean_card1'] = train['TransactionAmt'] / train.groupby(['card1'])['TransactionAmt'].transform('mean')
# train['TransactionAmt_to_mean_card4'] = train['TransactionAmt'] / train.groupby(['card4'])['TransactionAmt'].transform('mean')
# train['TransactionAmt_to_std_card1'] = train['TransactionAmt'] / train.groupby(['card1'])['TransactionAmt'].transform('std')
# train['TransactionAmt_to_std_card4'] = train['TransactionAmt'] / train.groupby(['card4'])['TransactionAmt'].transform('std')

# test['TransactionAmt_to_mean_card1'] = test['TransactionAmt'] / test.groupby(['card1'])['TransactionAmt'].transform('mean')
# test['TransactionAmt_to_mean_card4'] = test['TransactionAmt'] / test.groupby(['card4'])['TransactionAmt'].transform('mean')
# test['TransactionAmt_to_std_card1'] = test['TransactionAmt'] / test.groupby(['card1'])['TransactionAmt'].transform('std')
# test['TransactionAmt_to_std_card4'] = test['TransactionAmt'] / test.groupby(['card4'])['TransactionAmt'].transform('std')

# train['id_02_to_mean_card1'] = train['id_02'] / train.groupby(['card1'])['id_02'].transform('mean')
# train['id_02_to_mean_card4'] = train['id_02'] / train.groupby(['card4'])['id_02'].transform('mean')
# train['id_02_to_std_card1'] = train['id_02'] / train.groupby(['card1'])['id_02'].transform('std')
# train['id_02_to_std_card4'] = train['id_02'] / train.groupby(['card4'])['id_02'].transform('std')

# test['id_02_to_mean_card1'] = test['id_02'] / test.groupby(['card1'])['id_02'].transform('mean')
# test['id_02_to_mean_card4'] = test['id_02'] / test.groupby(['card4'])['id_02'].transform('mean')
# test['id_02_to_std_card1'] = test['id_02'] / test.groupby(['card1'])['id_02'].transform('std')
# test['id_02_to_std_card4'] = test['id_02'] / test.groupby(['card4'])['id_02'].transform('std')

# train['D15_to_mean_card1'] = train['D15'] / train.groupby(['card1'])['D15'].transform('mean')
# train['D15_to_mean_card4'] = train['D15'] / train.groupby(['card4'])['D15'].transform('mean')
# train['D15_to_std_card1'] = train['D15'] / train.groupby(['card1'])['D15'].transform('std')
# train['D15_to_std_card4'] = train['D15'] / train.groupby(['card4'])['D15'].transform('std')

# test['D15_to_mean_card1'] = test['D15'] / test.groupby(['card1'])['D15'].transform('mean')
# test['D15_to_mean_card4'] = test['D15'] / test.groupby(['card4'])['D15'].transform('mean')
# test['D15_to_std_card1'] = test['D15'] / test.groupby(['card1'])['D15'].transform('std')
# test['D15_to_std_card4'] = test['D15'] / test.groupby(['card4'])['D15'].transform('std')

# train['D15_to_mean_addr1'] = train['D15'] / train.groupby(['addr1'])['D15'].transform('mean')
# train['D15_to_mean_addr2'] = train['D15'] / train.groupby(['addr2'])['D15'].transform('mean')
# train['D15_to_std_addr1'] = train['D15'] / train.groupby(['addr1'])['D15'].transform('std')
# train['D15_to_std_addr2'] = train['D15'] / train.groupby(['addr2'])['D15'].transform('std')

# test['D15_to_mean_addr1'] = test['D15'] / test.groupby(['addr1'])['D15'].transform('mean')
# test['D15_to_mean_addr2'] = test['D15'] / test.groupby(['addr2'])['D15'].transform('mean')
# test['D15_to_std_addr1'] = test['D15'] / test.groupby(['addr1'])['D15'].transform('std')
# test['D15_to_std_addr2'] = test['D15'] / test.groupby(['addr2'])['D15'].transform('std')

In [43]:
# train[['P_emaildomain_1', 'P_emaildomain_2', 'P_emaildomain_3']] = train['P_emaildomain'].str.split('.', expand=True)
# train[['R_emaildomain_1', 'R_emaildomain_2', 'R_emaildomain_3']] = train['R_emaildomain'].str.split('.', expand=True)
# test[['P_emaildomain_1', 'P_emaildomain_2', 'P_emaildomain_3']] = test['P_emaildomain'].str.split('.', expand=True)
# test[['R_emaildomain_1', 'R_emaildomain_2', 'R_emaildomain_3']] = test['R_emaildomain'].str.split('.', expand=True)

## Data preparation

In [44]:
X = train.sort_values('TransactionDT')
y = train.sort_values('TransactionDT')['isFraud']

In [45]:
categorical_features = ['ProductCD','P_emaildomain','R_emaildomain',
                'card1','card2','card3','card4','card5','card6',
                'addr1','addr2',
                'M1','M2','M3','M4','M5','M6','M7','M8','M9']

one_value_cols = [col for col in X.columns if X[col].nunique() <= 1]
many_null_cols = [col for col in X.columns if X[col].isnull().sum() / X.shape[0] > 0.9]
big_top_value_cols = [col for col in X.columns if X[col].value_counts(dropna=False, normalize=True).values[0] > 0.9]
cols_to_drop = list(set(many_null_cols + big_top_value_cols + one_value_cols + ['isFraud', 'TransactionDT', 'TransactionID']))

from utils.tranformers import drop_columns, factorize

columns = list(set(X.columns) - set(cols_to_drop + categorical_features))

transformer = make_column_transformer(
    (FunctionTransformer(drop_columns, validate=False), cols_to_drop),
    (SimpleImputer(missing_values=np.nan, strategy='constant',fill_value=0), columns),
    (FunctionTransformer(factorize, validate=False), categorical_features),
    remainder='passthrough'
)

X = transformer.fit_transform(X)

In [46]:
del train

## Model building

In [47]:
inputs = Input(shape=(X.shape[1],))
dense_1 = Dense(10, activation='relu')(inputs)
dense_2 = Dense(10, activation='relu')(dense_1)
outputs = Dense(1, activation='sigmoid')(dense_2)
    
model = Model(inputs=inputs, outputs=outputs)
model.compile(
    loss='binary_crossentropy', 
    optimizer='adam', 
    metrics=['acc']
)

In [48]:
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)

print(X[:1,:])
history = model.fit(
    x=X, 
    y=y, 
    validation_split=0.2, 
    epochs=10, 
    batch_size=128)

[[  0.   13.    1.    0.    0.    0.    0.   13.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    1.    0.    1.    0.    0.    0.    0.    0.    0.    1.    0.    0.
    0.    0.    1.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    1.    1.    0.
    0.    1.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    1.    0.    0.    0.    0.    0.    1.    0.    0.    1.    1.    0.
    1.    0.    1.    0.    0.    0.    1.    0.    1.    0.    0.    0.
    0.    0.    1.    0.    0.  117.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    1.    0.   19.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    2.    0.    0.  117.    0.    1.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
   68.5   0.    0.    0.    0.    1.    0.    0.    0.    0.    0.    0.
    1.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    1.    0.    0.    0.    0.    0.    0.    1.    0.    0.    1.
    0.    1.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
   14.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    1.    0.    1.    0.    0.    1.
    0.    0.    0.    0.    1.    1.    0.    0.    0.    0.    1.    0.
    0.    0.    1.    0.   13.    0.    0.    0.    1.    0.    0.    0.
    1.    0.    1.    0.    0.    0.    0.    0.    0.    0.    0.    1.
    0.    0.    0.    1.    0.    0.    0.    0.    0.    0.    0.    0.
    1.    0.    1.    0.    0.    0.    0.    0.    1.    1.    0.    0.
    0.    1.    0.    1.  117.    0.    0.    0.    0.    1.    0.    1.
    0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    0.
    0.    0.    0.    0.   -1.   -1.    0.   -1.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.   -1.   -1.   -1. ]]
Train on 472432 samples, validate on 118108 samples
Epoch 1/10
472432/472432 [==============================] - 12s 26us/step - loss: 0.7070 - acc: 0.9622 - val_loss: 0.1899 - val_acc: 0.9671
Epoch 2/10
472432/472432 [==============================] - 13s 28us/step - loss: 0.2317 - acc: 0.9650 - val_loss: 0.3588 - val_acc: 0.9578
Epoch 3/10
472432/472432 [==============================] - 12s 26us/step - loss: 0.1276 - acc: 0.9653 - val_loss: 0.1239 - val_acc: 0.9658
Epoch 4/10
472432/472432 [==============================] - 12s 26us/step - loss: 0.1231 - acc: 0.9680 - val_loss: 0.1177 - val_acc: 0.9697
Epoch 5/10
472432/472432 [==============================] - 12s 26us/step - loss: 0.1175 - acc: 0.9690 - val_loss: 0.1168 - val_acc: 0.9697
Epoch 6/10
472432/472432 [==============================] - 13s 27us/step - loss: 0.1135 - acc: 0.9703 - val_loss: 0.1153 - val_acc: 0.9702
Epoch 7/10
472432/472432 [==============================] - 13s 27us/step - loss: 0.1109 - acc: 0.9711 - val_loss: 0.1119 - val_acc: 0.9704
Epoch 8/10
472432/472432 [==============================] - 13s 27us/step - loss: 0.1104 - acc: 0.9714 - val_loss: 0.1123 - val_acc: 0.9700
Epoch 9/10
472432/472432 [==============================] - 13s 27us/step - loss: 0.1076 - acc: 0.9719 - val_loss: 0.1102 - val_acc: 0.9705
Epoch 10/10
472432/472432 [==============================] - 11s 24us/step - loss: 0.1059 - acc: 0.9722 - val_loss: 0.1114 - val_acc: 0.9708

## Saving model

In [54]:
import joblib

joblib.dump(transformer, "assets/data_transformer.joblib")
model.save("assets/fraud_prediction_model.h5")

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-54-8053c16840e4>", line 4, in <module>
    model.save("fraud_prediction_model.h5")
  File "/usr/local/lib/python3.7/site-packages/keras/engine/network.py", line 1152, in save
    save_model(self, filepath, overwrite, include_optimizer)
  File "/usr/local/lib/python3.7/site-packages/keras/engine/saving.py", line 449, in save_wrapper
    save_function(obj, filepath, overwrite, *args, **kwargs)
  File "/usr/local/lib/python3.7/site-packages/keras/engine/saving.py", line 540, in save_model
    with H5Dict(filepath, mode='w') as h5dict:
  File "/usr/local/lib/python3.7/site-packages/keras/utils/io_utils.py", line 191, in __init__
    self.data = h5py.File(path, mode=mode)
  File "/usr/local/lib/python3.7/site-packages/h5py/_hl/files.py", line 408, in __init__
    swmr=swmr)
  File "/usr/local/lib/python3.7/site-packages/h5py/_hl/files.py", line 179, in make_fid
    fid = h5f.create(name, h5f.ACC_TRUNC, fapl=fapl, fcpl=fcpl)
  File "h5py/_objects.pyx", line 54, in h5py._objects.with_phil.wrapper
  File "h5py/_objects.pyx", line 55, in h5py._objects.with_phil.wrapper
  File "h5py/h5f.pyx", line 108, in h5py.h5f.create
OSError: Unable to create file (unable to open file: name = 'fraud_prediction_model.h5', errno = 2, error message = 'No such file or directory', flags = 13, o_flags = 602)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2040, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

OSError: Unable to create file (unable to open file: name = 'fraud_prediction_model.h5', errno = 2, error message = 'No such file or directory', flags = 13, o_flags = 602)